# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.venv/
env/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# Migrations cache (optional in some workflows)
**/migrations/__pycache__/

# IDEs / editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Testing / coverage
htmlcov/
.coverage
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/